p.pull-right
  a.btn.btn-success(href='#', role='button')
    span.glyphicon.glyphicon-heart
    |  Fav
  a.btn.btn-primary(href='#', role='button')
    span.glyphicon.glyphicon-shopping-cart
    |  Take
